.error, .noscript-error {
    .main-container {
        max-width: 1536px;
        min-height: 100vh;
        padding: 0 20px;
    
        @include respond(3xl) {
            padding: 0 70px;
        }
    
        @include respondMax(3xl) {
            padding: 0 75px;
        }
        
        @include respondMax(2xl) {
            padding: 0 60px;
        }
    
        @include respondMax(xl) {
            padding: 0 30px;
        }
    
        @include respondMax(xl) {
            padding: 0 40px;
        }
    
        @include respondMax(lg) {
            padding: 0 38px;
        }
    
        @include respondMax(md) {
            padding: 40px 45px;
        }
    
        @include respondMax(sm) {
            padding: 35px;
        }
    
        @include respondMax(ssm) {
            padding: 30px 20px;
        }
    }

    .error-displayer {
        margin-bottom: var(--section-separation);

        ul li {
            margin-block-start: 1em;
            margin-block-end: 1em;
        }
    }
}