.widget {
    display: flex;
    flex-direction: column;
}

/* Tag cloud widget */
.tagCloud {
    .tagCloud-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        a {
            background: var(--card-background);
            box-shadow: var(--shadow-l1);
            border-radius: var(--tag-border-radius);
            padding: 8px 20px;
            color: var(--card-text-color-main);
            font-size: 1.4rem;
            transition: box-shadow 0.3s ease;

            &:hover {
                box-shadow: var(--shadow-l2);
            }
        }
    }
}

/* Archives widget */
.widget.archives {
    .widget-archive--list {
        border-radius: var(--card-border-radius);
        box-shadow: var(--shadow-l1);
        background-color: var(--card-background);
    }

    .archives-year {
        &:not(:last-of-type) {
            border-bottom: 1.5px solid var(--card-separator-color);
        }

        a {
            font-size: 1.4rem;
            padding: 18px 25px;
            display: flex;

            span.year {
                flex: 1;
                color: var(--card-text-color-main);
                font-weight: bold;
            }

            span.count {
                color: var(--card-text-color-tertiary);
            }
        }
    }
}

/* Recommendations widget */
:root {
    --recommendationswidget-button-text-color: #000000;
    --recommendationswidget-button-color: #f5f5fa;
    --recommendationswidget-button-color--strong: #e2e2e7;

    &[data-scheme="dark"] {
        --recommendationswidget-button-text-color: #ecf0f1;
        --recommendationswidget-button-color: #303030;
        --recommendationswidget-button-color--strong: #202020;
    }
}

.widget.recommendations {
    .recommendations--list {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .recommendation {
            padding: var(--card-padding);
            background-color: var(--card-background);
            box-shadow: var(--shadow-l1);
            border-radius: var(--card-border-radius);
            overflow: hidden;
            transition: box-shadow 0.3s ease;

            p, p ~ ul li, p > a {
                color: var(--card-text-color-secondary);
                text-align: left;
                word-wrap: break-word;
                font-size: 1.4rem;
            }

            p ~ ul li {
                margin-block-start: 1em;
                margin-block-end: 1em;
            }

            & > a {
                display: flex;
                align-items: center;
                font-weight: bold;
            }

            & > a ~ a {
                margin-block-start: 0.4em;
            }

            & > a > svg {
                margin-right: 0.45em;
                width: 2rem;
            }
            
            .recommendation-hidden-paragraph, .recommendation-hidden-paragraph ~ ul {
                display: none;
            }

            .recommendation-button {
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: right;
                width: 100%;
                margin-block-start: 1.5em;
                padding-block: .6em;
                padding-inline: 1em;
                background-color: var(--recommendationswidget-button-color);
                transition: 0.2s ease-in;
                color: var(--recommendationswidget-button-text-color);
                border-radius: 0.4em;
                border: none;
                font-size: 1.4rem;

                svg {
                    width: 2rem;
                }

                &:hover {
                    background-color: var(--recommendationswidget-button-color--strong);
                    cursor: pointer;

                    svg {
                        stroke-width: 1.9;
                    }
                }
            }
        }
    }
}