{{ if (.Context.Scratch.Get "TOCEnabled") }}
    <section class="widget archives">
        <h2 class="widget-title section-title">{{ partial "helper/icon" "list-search" }}{{ T "article.tableOfContents" }}</h2>
        
        <div class="widget--toc">
            {{ .Context.TableOfContents }}
        </div>
    </section>
{{ end }}